.scrollable {
	overflow: auto;
	margin: auto;
	border: 5px solid black;
	height: 350px;
	/*background-color:	#270943;*/

}

.centered {
	text-align: center;
	margin: auto;
	/*color: #fb5f26;*/
	color: aliceblue
}

.colorBox {
	/*background-color:	#008080;*/
	background-color: steelblue;
	border: 1px solid black;
	margin: auto;
	margin-top: 5px;
	width: 50%;
	text-align: center;
}

ul {
    padding: 0;
    list-style-type: none;
}

/*
tr:nth-child(even) {
	background-color: #008080;
	color: white;
}

tr:nth-child(odd){
	background-color: white;
	color: black;
}*/

/*tr:hover{
	background-color: #270943;
	color: white;	
}*/

#columnLabel {
	background-color: #270943;
	color: white;
}
/*
why doesn't this work?
.columnLabel {
	background-color: #270943;
	color: white;
}*/